{% extends 'share-base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('renderer/virtual-visit') }}
{% endblock %}

{% block title %}Project: {{ project.name }}{% endblock %}

{% block body %}
    <div
            id="viewer"
            data-nodes="{{ nodes|json_encode|escape('html_attr') }}"
            data-link-rotations="{{ linkRotations|json_encode|escape('html_attr') }}"
            data-media-rotations="{{ mediaRotations|json_encode|escape('html_attr') }}"
    >
    </div>

{% endblock %}
