{% extends 'base-aside.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('linkEdit') }}
{% endblock %}

{% block title %}Lien{% endblock %}

{% block body %}
    <a href="{{ path('app_project_show', { id: link.sourceMedia.project.id }) }}" class="link link-info">&lt; Retour au projet {{ link.sourceMedia.project.name }}</a>
    <a href="{{ path('app_media_show', { id: link.sourceMedia.id }) }}" class="link link-info">&lt; Retour au média {{ link.sourceMedia.name }}</a>
    <h1>Edit of a link</h1>

    <div
        id="sourceViewer"
        style="width: 100%; height: 40vh;"
        data-panorama="{{ path('app_media_download', {id: link.sourceMedia.id}) }}"
        data-latitude="{{ link.sourceLatitude }}"
        data-longitude="{{ link.sourceLongitude }}"
    ></div>
    <div
        id="targetViewer"
        style="width: 100%; height: 40vh;"
        data-panorama="{{ path('app_media_download', {id: link.targetMedia.id}) }}"
        data-latitude="{{ link.targetLatitude }}"
        data-longitude="{{ link.targetLongitude }}"
    ></div>

{% endblock %}

{% block aside %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Update link</button>
    {{ form_end(form) }}
{% endblock %}
