{% extends 'base-aside.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('linkEdit') }}
{% endblock %}

{% block title %}Lien{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('app_project_show', {id: link.sourceMedia.project.id}) }}">Projet</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('app_media_show', {id: link.sourceMedia.id}) }}">Media</a>
    </li>
{% endblock %}


{% block body %}
    <h1><span class="title-text-light">Edit link From</span> {{ link.sourceMedia.name }} <span class="title-text-light">To</span> {{ link.targetMedia.name }}</h1>

    <div class="card" style="width: 100%; height: 40vh;">
        <div class="card-header">
            Source Media ({{ link.sourceMedia.name }}): click on the panorama to set the link position of the source media
        </div>
        <div class="card-body">
            <div
                    id="sourceViewer"
                    style="width: 100%; height: 100%;"
                    data-panorama="{{ path('app_media_download', {id: link.sourceMedia.id}) }}"
                    data-pitch="{{ link.sourcePitch }}"
                    data-yaw="{{ link.sourceYaw }}"
            ></div>
        </div>
    </div>
    <br/>
    <div class="card" style="width: 100%; height: 40vh;">
        <div class="card-header">
            Target Media ({{ link.targetMedia.name }}): move the panorama to set the eyes direction on the target media
        </div>
        <div class="card-body">
            <div
                id="targetViewer"
                style="width: 100%; height: 100%;"
                data-panorama="{{ path('app_media_download', {id: link.targetMedia.id}) }}"
                data-pitch="{{ link.targetPitch ?? 0 }}"
                data-yaw="{{ link.targetYaw ?? 0 }}"
            ></div>
        </div>
    </div>

    <br/>
    <form style="display: inline" method="post" action="{{ path('app_link_delete', {'id': link.id}) }}" onsubmit="return confirm('Are you sure you want to delete the link from {{ link.sourceMedia.name }} to {{ link.targetMedia.name }} ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ link.id) }}">
        <button class="btn btn-outline-danger btn-sm">Delete link</button>
    </form>
{% endblock %}

{% block aside %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Update link</button>
    {{ form_end(form) }}
{% endblock %}
