{% extends 'base-aside.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('linkEdit') }}
{% endblock %}

{% block title %}Lien{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('app_project_show', {id: link.sourceMedia.project.id}) }}">Projet</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('app_media_show', {id: link.sourceMedia.id}) }}">Media</a>
    </li>
{% endblock %}


{% block body %}
    <h1><span class="title-text-light">Edit link of the media</span> {{ link.sourceMedia.name }}</h1>

    <div class="card" style="width: 100%; height: 40vh;">
        <div class="card-header">
            Source Media : click on the panorama to set the link position of the source media
        </div>
        <div class="card-body">
            <div
                    id="sourceViewer"
                    style="width: 100%; height: 100%;"
                    data-panorama="{{ path('app_media_download', {id: link.sourceMedia.id}) }}"
                    data-latitude="{{ link.sourceLatitude }}"
                    data-longitude="{{ link.sourceLongitude }}"
            ></div>
        </div>
    </div>
    <br/>
    <div class="card" style="width: 100%; height: 40vh;">
        <div class="card-header">
            Target Media : move the panorama to set the eyes direction on the target media
        </div>
        <div class="card-body">
            <div
                id="targetViewer"
                style="width: 100%; height: 100%;"
                data-panorama="{{ path('app_media_download', {id: link.targetMedia.id}) }}"
                data-latitude="{{ link.targetLatitude ?? 0 }}"
                data-longitude="{{ link.targetLongitude ?? 0 }}"
            ></div>
        </div>
    </div>

{% endblock %}

{% block aside %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Update link</button>
    {{ form_end(form) }}
{% endblock %}
