{% extends 'base-aside.html.twig' %}

{% block body_size %}col-6{% endblock %}

{% block title %}{{ project.name }} : projet openvv{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('app_project_show', {id: project.id}) }}">Projet</a>
    </li>
{% endblock %}

{% block body %}
    <h1><span class="title-text-light">Projet</span> {{ project.name }}</h1>
    <div class="container">
        <div class="row gy-2">
            <div class="card">
                <div class="card-header">
                    Sharing
                </div>
                <div class="card-body">
                    {% if project.isShareActive %}
                        Shared until {{ project.shareEndedAt|date('m/d/Y') }}<br/>
                        Shared URL : <a href="{{ url('app_renderer_view', {shareUid: project.shareUid}) }}">{{ url('app_renderer_view', {shareUid: project.shareUid}) }}</a><br/>
                    {% else %}
                        Not shared
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Informations
                </div>
                <div class="card-body">
                    Rendering : {{ project.renderer.name }}<br/>
                    Created at : {{ project.createdAt|date('Y-m-d H:i:s') }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_project_edit', {id: project.id}) }}" class="btn btn-primary">edit</a>
    <a href="{{ path('app_renderer_preview', {id: project.id}) }}" class="btn btn-primary">preview</a>
    <a href="{{ path('app_project_export', {id: project.id}) }}" class="btn btn-outline-primary">export</a>
    {% if project.isShareActive %}
        <form style="display:inline" method="post" action="{{ path('app_share_delete', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to unshare this item ? The id of the sharing will be lost.');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
            <button class="btn btn-outline-primary">Unshare</button>
        </form>
    {% else %}
        <a href="{{ path('app_share_new', {id: project.id}) }}" class="btn btn-outline-primary">Share</a>
    {% endif %}

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}

{% block aside %}
    <h2>Médias</h2>
    <a href="{{ path('app_media_new', {'project': project.id}) }}" class="btn btn-primary">Ajouter un média</a>
    <form style="display:inline" method="post" action="{{ path('app_projet_media_reverse_order', {'project': project.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('reverseorder' ~ project.id) }}">
        <button class="btn btn-outline-primary">Reverse order</button>
    </form>

    {% include grid.theme ~ '/datagrid.html.twig' %}
{% endblock %}
